body{
  background-image: url(https://images.unsplash.com/photo-1609376224342-8902c39a3675?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  font-size: clamp(5px, 2vw, 15px);
}
.weather_container{
  width: 80%;
  margin: 0 auto;
  height: 100%;
  box-sizing: border-box;
  margin-bottom: 50px;
}
